{% extends 'authentication/index.twig' %}

{% block authentication_page_card_body %}
    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Free Sign Up</h4>
        <p class="text-muted mb-4">Don't have an account yet? Sign up now,<br> it takes less than a minute.</p>
    </div>

    {{ form_start(form, {
        "attr": {
            "class": "needs-validation",
            "novalidate": "",
        }
    }) }}

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.email.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.email, null, {
            "label": "Email address",
        }) }}

        {{ form_widget(form.email, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control #{validationClass}",
                "placeholder": "Enter your email",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.email.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.email.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.plainPassword.first.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.plainPassword.first, null, {
            "label": "Password",
        }) }}

        {{ form_widget(form.plainPassword.first, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control plainPassword #{validationClass}",
                "placeholder": "Enter your password",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.plainPassword.first.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.plainPassword.first.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.plainPassword.second.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.plainPassword.second, null, {
            "label": "Repeat Password",
        }) }}

        {{ form_widget(form.plainPassword.second, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control plainPassword-repeat #{validationClass}",
                "placeholder": "Enter your password again",
            },
        }) }}

        <ul class="form-errors invalid-feedback list-unstyled my-1">
            <li>The password fields must match.</li>
        </ul>

        {% include "_includes/form_help.twig" with {"help": form.plainPassword.second.vars.help} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.firstName.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.firstName, null, {
            "label": "First Name",
        }) }}

        {{ form_widget(form.firstName, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control #{validationClass}",
                "placeholder": "Enter your first name",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.firstName.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.firstName.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.lastName.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.lastName, null, {
            "label": "Last Name",
        }) }}

        {{ form_widget(form.lastName, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control #{validationClass}",
                "placeholder": "Enter your last name",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.lastName.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.lastName.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.city.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.city, null, {
            "label": "City",
        }) }}

        {{ form_widget(form.city, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control #{validationClass}",
                "placeholder": "Enter your city",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.city.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.city.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.street.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.street, null, {
            "label": "Street",
        }) }}

        {{ form_widget(form.street, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control #{validationClass}",
                "placeholder": "Enter your street",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.street.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.street.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.zip.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.zip, null, {
            "label": "Zip",
        }) }}

        {{ form_widget(form.zip, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control #{validationClass}",
                "placeholder": "Enter your zip",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.zip.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.zip.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.phone.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        {{ form_label(form.phone, null, {
            "label": "Phone",
        }) }}

        {{ form_widget(form.phone, {
            "errors": false,
            "label": false,
            "attr": {
                "class": "form-control #{validationClass}",
                "placeholder": "Enter your phone",
            },
        }) }}

        {% include "_includes/form_help.twig" with {"help": form.zip.vars.help} %}
        {% include "_includes/form_errors.twig" with {"errors": form.zip.vars.errors} %}
    </div>

    <div class="form-group">
        {% set validationClass = '' %}
        {% if not form.termsAccepted.vars.valid %}
            {% set validationClass = 'is-invalid' %}
        {% endif %}

        <div class="custom-control custom-checkbox">
            {{ form_widget(form.termsAccepted, {
                "attr": {
                    "class": "custom-control-input #{validationClass}",
                }
            }) }}
            <label for="{{ form.termsAccepted.vars.id }}"
                   class="custom-control-label no-star{{ form.termsAccepted.vars.required ? "required" }}">
                I accept the <a href="{{ path("index_index") }}" class="text-muted">Terms and Conditions</a>
            </label>
            {% include "_includes/form_help.twig" with {"help": form.termsAccepted.vars.help} %}
            {% include "_includes/form_errors.twig" with {"errors": form.termsAccepted.vars.errors} %}
        </div>
    </div>

    <div class="form-group mb-0 text-center">
        {{ form_row(form.submit, {
            "label": "Sign Up",
            "attr": {
                "class": "btn btn-primary",
            }
        }) }}
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form) }}
{% endblock %}


{% block authentication_page_card %}
    {{ parent() }}
    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">
                Already have account?
                <a href="{{ path("authentication_login") }}" class="text-muted ml-1"><b>Log In</b></a>
            </p>
        </div>
    </div>
{% endblock %}